{% extends 'layout.html' %}

{% block title %}Nearest Restaurant Search{% endblock %}

{% block header %}<h1>Nearest Restaurant Search</h1>{% endblock %}

{% block content %}
    <p>Search near by restaurants of an address</p>
    <form method="POST" action="{{ url_for('restaurants.map_view') }}">
        <div class="field-wrap">
            <label for="address">Address<span class="required">*</span></label>
            <input type="text" class="field-control" name="address" id="address" value="" required />
        </div>

        <div class="field-wrap">
            <input type="submit" class="primary" value="Search" />
        </div>
    </form>
{% endblock %}
